.card{
    width: 400px;
    min-width: 400px;
    height: 525px;
    min-height: 525px;
    margin-left: 1%;

}


card-img-top{
    min-width: 400px;
    width: 400px;
}

.btn-warning{
    margin-left: 70%;
    float: right;
}


