*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
h1 {
    color: tomato;
    margin-left: 20px;
}
/*
.StarWarsApp{

    overflow-x: auto; 
    width: 3000px;
    margin-bottom: 2%;
    margin-top: 2%;
}*/

.people{
    flex-wrap: nowrap;

    width: 3000px;
    margin-bottom: 2%;
    margin-top: 2%;
}


.planets{
    flex-wrap: nowrap;
  
    width: 3000px;
    margin-bottom: 2%;
    margin-top: 2%;
}


body{
  background: linear-gradient(to right, #000000, #434343); 
}
